.Nenhuma-empresa-foi {
  font-family: Roboto !important;
  font-size: 2.125rem !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #b5b4b4 !important;
}
