body {
  margin: 0;
  background-color: #eeecdb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#div-logo-search {
  transition: width 0.2s ease-in-out;
}

#logo-search {
  transition: width 0.2s ease-in-out;
}
#input-search {
  padding: 0;
  transition: width 0.2s ease-in-out;
}
.MuiInputBase-adornedEnd {
  transition: width 0.2s ease-in-out;
}
#icon-button-close-search {
  transition: font-size 0.2s ease-in-out;
}
